<!DOCTYPE html>
<html lang="en">
<header>
    <p id="JASON_read" style="display: none;">{{data}}</p>
    <script>
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            var Question = JSON.parse(document.getElementById("JASON_read").innerHTML);
        };
        xmlhttp.open("GET", "json_demo.txt", true);
        xmlhttp.send();
    </script>
    </script>
</header>
<body>
<div id="container_Q">
<script>
    if !!Question {
        document.getElementsByClassName("question_id").innerHTML = Question.question_id;
        document.getElementsByClassName("question_type").innerHTML = Question.question_type;
        document.getElementsByClassName("question_content").innerHTML = Question.question_content;
        if !!document.getElementsByClassName("anwer_id"){
            document.getElementsByClassName("anwer_id").innerHTML = Question.anwer_id;
            document.getElementsByClassName("anwer_type").innerHTML = Question.anwer_type;
            document.getElementsByClassName("anwer_content").innerHTML = Question.anwer_content;
        }
    }
</script>
<script>
    if !!Question {
        var Q_id = document.createElement('label');
        Q_id.id = "question_id";
        var Q_type = document.createElement('label');
        Q_type.id = "question_type";
        var Q_content = document.createElement('p');
        Q_content.id = "question_content";
        document.getElementsByClassName('QuestionsComp')[-1].appendChild(Q_id);
        document.getElementsByClassName('QuestionsComp')[-1].appendChild(Q_type);
        document.getElementsByClassName('QuestionsComp')[-1].appendChild(Q_content);
    }
</script>
</body>
</html>
