<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GreenITQuestionary</title>
    <base href="/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="{{ url_for('static', filename='css/styles.9c0ad738f18adc3d19ed.bundle.css') }}" rel="stylesheet"/>
</head>
<body>
<app-root></app-root>
<script type="text/javascript" src="{{ url_for('static', filename='js/inline.aa0f135697af0f4ff044.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/polyfills.c08331153cbf9fd50ff5.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.a398458160dae5841a37.bundle.js') }}"></script>
</body>
</html>